<app-navigation></app-navigation>
<div class="banner">
  <div class="columns">
    <div class="column1">
      <p>New release</p>
      <h1 class="special-text">FEEL<br>AUTHENTIC<br>Peace</h1>
      <button type="button" class="button1">Shop now&nbsp;&nbsp;<i [ngStyle]="{

      }" class="bi bi-arrow-right"></i></button>
    </div>
    <div class="column2">
      <img class="image1" src="assets/images/clothing.jpg" height="500px" alt="Man with suit">
    </div>
  </div>
</div>
<div class="banner">
  <h1 [ngStyle]="{
    'text-align': 'center'
  }">Our <b [ngStyle]="{
    'background-color': 'orange',
    'color': 'white',
    'padding-right': '0.4rem',
    'padding-left': '0.4rem',
    'border-radius': '0.5rem'
  }">products</b></h1>
  <app-products></app-products>
</div>
